<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">CManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2">
                    <i class="fa-solid fa-user"></i>
                    <span class="nav-link d-inline-block" onclick="this.parentNode.submit()" sec:authentication="name"></span>
                </li>
                <li class="nav-item">
                    <form method="post" th:action="@{/logout}">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <a class="nav-link d-inline-block" onclick="this.parentNode.submit()" th:text="Logout" href="#"></a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer class="bg-dark py-4 text-white px-4" th:fragment="footer">
    <p class="text-center my-0">
        &#169;Copyright all right reserved
    </p>
</footer>
</body>
</html>